.header{
    background: #356859;
    position: fixed;
    width: 100%;
    z-index:9;
    display: flex;
    justify-content: space-around; 
  }
  .header nav{
    position: relative;
    display: flex;
   width: 1300px;
    margin: 0 180px 0 200px ;
    height: 70px;
    align-items: center;
    justify-content: space-between;
 
   
  }
  nav .content{
    display: flex;
    align-items: center;
    height:70px;

  }
  nav .content .links{
    margin-left: 300px;
    display: flex;

  }
  .content .logo{
    background: transparent;
  }
  .content .logo a{
    background:transparent;
  }

  .content .links li{
    list-style: none;
    line-height: 69px;
    width: 200px;
  }


  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
    width:200px;

}
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    /* background: #356859; */
    color:#fec376;
  }
  }
  .header .search-icon,
  .header .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
    background: #356859;
  }
  .header .search-icon i{
    background: #356859;
  }
  .header .menu-icon{
    display: none;
  }
  .header .menu-icon i{
    background: #356859;
  }
  .header #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
 
  }
  .header .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background: #356859;
  }
  .header #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .search-box input{
    width: 80%;float:right;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background: #b9e4c9;
    padding: 0 100px 0 15px;
    font-weight: bolder;
  }
  .search-box input::placeholder{
    color: white;
    font-size: 23px;
    letter-spacing: 5px;
  }
  .search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #b9e4c9;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background: #356859;
  }
  .search-box .go-icon{
    background: #b9e4c9;
  }

  .search-box .go-icon i{
    background: #b9e4c9;
  }
  .header input[type="checkbox"]{
    display: none;

  }

  button{
    height:50px; 
    width:100px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: whitesmoke
}
button a{
    display:flex;
    justify-content: center;
    font-size: 20px;
    background-color: whitesmoke

}

  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #356859;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }



  /* 반응형 코드 */
  @media screen and (max-width: 1290px){
    .header nav{
      max-width: 100%;
      padding: 0 10px;
    }
    nav .content .links{
      margin-left: 20px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .header .search-box{
      max-width: calc(100% - 100px);
    }
    .header .search-box input{
      padding: 0 100px 0 15px;
    }
    .desktop-link{
      max-width: 90%;
      overflow: hidden;
    }
    button{display: none;}
  }
  @media screen and (max-width: 940px){
    .header .menu-icon{
      display: block;
    }

    .desktop-link{
      max-width: 100%;
      overflow: hidden;
    }
    .header #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
     .login{
        display: none;
    }

    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-tap1:checked ~ ul,
    .content .links #show-tap2rvices:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .header nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
      background: transparent;
    }
    .content .logo a img{
      font-size: 27px;
    }
    .header .search-box{
      max-width: calc(100% - 70px);
    }
    .header .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .header .search-box input{
      padding-right: 30px;
    }
    .login{display: none;}
  }