@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    background-color: rgb(255, 251, 230);

}
li{
  list-style-type: none; 
  justify-content: space-around;
  
}
a{
  text-decoration: none;
  color:inherit;
}
.clear{
  clear:both;
}
.clear{clear:both;}
.wrap{ width:100%;margin:0 auto;}
  .header{
    background: #356859;
    position: fixed;
    width: 100%;
    z-index:9;
  }
  .header nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 400px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    background: #356859;
   
  }
  nav .content{
    display: flex;
    align-items: center;
    background: #356859;
    height:70px;

  }
  nav .content .links{
    margin-left: 80px;
    display: flex;

  }
  .content .logo{
    background: #356859;
  }
  .content .logo a{
    background:transparent
  }

  .content .logo a img{
    background: #356859;
    height:70px;
}
  .content .links li{
    list-style: none;
    line-height: 69px;
    background: #356859;
  }
  .content .links li a,
  .content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
    background: #356859;
  }
  .content .links li label{
    display: none;
  }
  .content .links li a:hover,
  .content .links li label:hover{
    background: #356859;
  }
  .header .search-icon,
  .header .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
    background: #356859;
  }
  .header .search-icon i{
    background: #356859;
  }
  .header .menu-icon{
    display: none;
  }
  .header .menu-icon i{
    background: #356859;
  }
  .header #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
 
  }
  .header .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
    background: #356859;
  }
  .header #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
  }
  .search-box input{
    width: 80%;float:right;
    height: 100%;
    border: none;
    outline: none;
    font-size: 20px;
    color: #fff;
    background: #b9e4c9;
    padding: 0 100px 0 15px;
    font-weight: bolder;
  }
  .search-box input::placeholder{
    color: white;
    font-size: 23px;
    letter-spacing: 5px;
  }
  .search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #b9e4c9;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    background: #356859;
  }
  .search-box .go-icon{
    background: #b9e4c9;
  }

  .search-box .go-icon i{
    background: #b9e4c9;
  }
  .header input[type="checkbox"]{
    display: none;

  }
  /* Dropdown Menu code start */
  .content .links ul{
    position: absolute;
    background: #356859;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
  .content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
  .content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
  .content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
  }
  .content .links ul li{
    position: relative;
  }
  .content .links ul li:hover ul{
    top: 0;
  }

 

  /* 반응형 코드 */
  @media screen and (max-width: 1250px){
    .header nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .header .search-box{
      max-width: calc(100% - 100px);
    }
    .header .search-box input{
      padding: 0 100px 0 15px;
    }
    .prodlist{
      max-width: 100%;
      overflow: hidden;
    }
  }
  @media screen and (max-width: 900px){
    .header .menu-icon{
      display: block;
    }

    .prodlist{
      max-width: 100%;
      overflow: hidden;
    }
    .header #show-menu:checked ~ .menu-icon i::before{
      content: "\f00d";
    }
    nav .content .links{
      display: block;
      position: fixed;
      height: 100%;
      width: 100%;
      top: 70px;
      left: -100%;
      margin-left: 0;
      max-width: 350px;
      overflow-y: auto;
      padding-bottom: 100px;
      transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
      left: 0%;
    }
    .content .links li{
      margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
      line-height: 40px;
      font-size: 20px;
      display: block;
      padding: 8px 18px;
      cursor: pointer;
    }
    .content .links li a.desktop-link{
      display: none;
    }
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
      position: static;
      opacity: 1;
      visibility: visible;
      background: none;
      max-height: 0px;
      overflow: hidden;
    }
    .content .links #show-tap1:checked ~ ul,
    .content .links #show-tap2rvices:checked ~ ul,
    .content .links #show-items:checked ~ ul{
      max-height: 100vh;
    }
    .content .links ul li{
      margin: 7px 20px;
    }
    .content .links ul li a{
      font-size: 18px;
      line-height: 30px;
      border-radius: 5px!important;
    }
  }
  @media screen and (max-width: 400px){
    .header nav{
      padding: 0 10px;
    }
    .content .logo a{
      font-size: 27px;
      background: transparent;
    }
    .content .logo a img{
      font-size: 27px;
    }
    .header .search-box{
      max-width: calc(100% - 70px);
    }
    .header .search-box .go-icon{
      width: 30px;
      right: 0;
    }
    .header .search-box input{
      padding-right: 30px;
    }
  }

  .dummy-text{
    top:70px;
    display:grid;
    grid-template-columns: 250px 700px 700px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: 
    "aside article1 article1"
    "aside article2 article2"
    "aside article3 article3";
    position: relative;
    width: 100%;
    padding-right:10px;
    text-align: center;

  }
/* .ctg{
  width:200px;
  height: 50px;
  position:absolute;
  z-index: 1000;
  cursor: pointer;
  font-size: 20px;
  margin:10px;
  top:10px;
  padding-top:10px;
  left:20px;
align-items: center;
justify-content: center;

}
.ctg input[type="checkbox"]{
  display: none;
}

.ctg label{
  border-radius: 30px;
  border:1px solid black;
  width:100px;
  padding:10px 30px;
  background-color: white;
}
.ctg:hover{
  background-color:#B9E4C9;
  transition: none;
 
}
.ctg:hover label{
  border:0;
  border-radius:0;
  background-color:#B9E4C9;
  transition: 0;
  color:white;
} */

.aside {
  /* padding-top:70px; */
  background-color:#B9E4C9;
  grid-area: aside;
  height:100%;
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
  transition: .5s ease;
  opacity:1;
  margin-right:10px;
}
/* .ctg:hover~.aside{
  opacity:1;
} */

.aside ul{
  position:relative;
   background-color: #B9E4C9;
}
/* .aside button:hover{
  background-color: #B9E4C9;
  color:white;
  border: 1px solid #B9E4C9;
} */
.aside ul li a{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:1.2em;
  height:50px;
  transition:.3 ease;
  color:white;
  background-color: #B9E4C9;;
}

.aside ul li a:hover{
  color:#fd5523;
}

.aside ul ul{
  position:absolute;
  left:200px;
  width:200px;
  top:0px;
  background:rgb(185, 228, 201);
  display:none;
}
.aside ul span{
  position:absolute;
  right:20px;
  font-size: 1.5em;
  background:#B9E4C9;
  
}

.aside ul .drop{
  position:relative;

}
.aside ul .drop:hover ul{
  display:initial;


}
.aside ul .drop_sub ul{
position:absolute;
left:-400px;
display:none;
}
.aside ul .drop_sub:hover ul{
  display:initial;
  left:200px;
}

.article1 {
  grid-area: article1;
  height:100%;
  padding:30px 0 0 0;
  margin:0;
  width:100%;
  align-items: center;
  overflow:hidden;
  box-sizing:border-box;
}
.article1 h2{
  text-align: left;
  padding-left: 100px;
}

#container
{
    float: left;
    width: 100%;
    height: 350px;
    padding: 10px;
    overflow-x: hidden;
    align-items: center;

}

#container > ul
{
    width: 1000px;
    height: 300px;
    white-space: nowrap;
    animation: slide infinite 5s alternate;
}

#container:hover > ul
{
    animation-play-state: paused;
}

#container > ul > li
{
    display: inline-block;
    width: 450px;
    height: 100px;
    margin-right: 10px;

}

@keyframes slide {
  0% {
    margin-left: -1200px;
  }
  25% {
    margin-left: -900px;
  }
  50% {
    margin-left: -600px;
  }
  
  75% {
    margin-left: -300px;
  }
  100% {
    margin-left: 000px;
  }
}
.slide-review img{
  width:220px;
  border-radius: 10px;
}
.slidebox .slideitem{
  position:relative;
  display:inline-block;
  vertical-align: middle;

  height:100%;
  transition:all .3s;
}
.slideitem .slide-review{
  height:240px; width:450px; 
  align-self: center; 
  border-radius: 20px;
  background-color: white;
  padding:10px;
  box-shadow: 5px 5px 10px#eaecd7;
  
}
.star{
  color:#fd5523;
}
.slideitem .review-txt{
  padding-top:50px;
  background-color: transparent;
  font-size: 20px;
}

.slideitem div a{float:left;}


/*---------메인 2행-----------*/

.article2 {
  grid-area: article2;
  height:100%;

}
.box{
  display:inline-block;
  height:230px;width:200px;
  margin:5px 10px;

}
.article2 h2{
  text-align: left;
  padding-left: 100px;
}
.box img{
  border-radius: 20px;
  margin:10px;
  box-shadow: 3px 3px 3px #eaecd7;
}
.box a{
  line-height: 20px;
}
#cu{
  border-radius: 10px;
  background-color: purple;
  color:white;
  padding: 3px;
  font-size: 12px;
}

#gs{
  border-radius: 10px;
  background-color: rgb(33, 119, 189);
  color:white;
  padding: 3px;
  font-size: 12px;
}
#vegan{
  border-radius: 10px;
  background-color: rgb(33, 189, 77);
  color:white;
  padding: 3px;
  font-size: 12px;
}

#none{
  border-radius: 10px;
  background-color: transparent;
  color:white;
  padding: 3px;
  font-size: 12px;
}

.prodlist1{
  width:1250px;
  overflow:hidden;
  white-space: nowrap;
}

/*----------메인 3행---------*/
.article3 {
  grid-area: article3;
  height:100%;

}

.prodlist2{
  width:1250px;
  overflow:hidden;
  white-space: nowrap;
}

.article3 h2{
  text-align: left;
  padding-left: 100px;
}

#username{
  color:#fd5523;
 
}
#keyword{
  text-decoration: underline;
  background:gainsboro;
  border-radius: 20px;
}




.footer{
  display:flex;
  width:100%;
  height:200px;
  padding-left: 70px;
  border-top:rgb(53, 104, 89);
  align-items: center;
  justify-content: center;

}
.info{
  width:500px;
  margin-top: 30px;
 
}
.info ul{
  margin-top:20px;
}
.info li{
  margin-top: 5px;
}
.footer_logo{float:left; }
