@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Pretendard-Regular';
    background-color: rgb(255, 251, 230);

}
li{
  list-style-type: none; 
  justify-content: space-around;
  
}
a{
  text-decoration: none;
  color:inherit;
}
.clear{
  clear:both;
}
.clear{clear:both;}
.wrap{ width:100%;margin:0 auto;}
  

  .dummy-text{
    top:70px;
    display:grid;
    grid-template-columns: 250px 700px 700px;
    grid-template-rows: 400px 400px 400px;
    grid-template-areas: 
    "aside article1 article1"
    "aside article2 article2"
    "aside article3 article3";
    position: relative;
    width: 100%;
    padding-right:10px;
    text-align: center;

  }
/* .ctg{
  width:200px;
  height: 50px;
  position:absolute;
  z-index: 1000;
  cursor: pointer;
  font-size: 20px;
  margin:10px;
  top:10px;
  padding-top:10px;
  left:20px;
align-items: center;
justify-content: center;

}
.ctg input[type="checkbox"]{
  display: none;
}

.ctg label{
  border-radius: 30px;
  border:1px solid black;
  width:100px;
  padding:10px 30px;
  background-color: white;
}
.ctg:hover{
  background-color:#B9E4C9;
  transition: none;
 
}
.ctg:hover label{
  border:0;
  border-radius:0;
  background-color:#B9E4C9;
  transition: 0;
  color:white;
} */

.aside {
  /* padding-top:70px; */
  background-color:#B9E4C9;
  grid-area: aside;
  height:100%;
  box-shadow: 3px 7px 10px rgba(0,0,0,0.3);
  transition: .5s ease;
  opacity:1;
  margin-right:10px;
}
/* .ctg:hover~.aside{
  opacity:1;
} */

.aside ul{
  position:relative;
   background-color: #B9E4C9;
}
/* .aside button:hover{
  background-color: #B9E4C9;
  color:white;
  border: 1px solid #B9E4C9;
} */
.aside ul li a{
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:1.2em;
  height:50px;
  transition:.3 ease;
  color:white;
  background-color: #B9E4C9;;
}

.aside ul li a:hover{
  color:#fd5523;
}

.aside ul ul{
  position:absolute;
  left:200px;
  width:200px;
  top:0px;
  background:rgb(185, 228, 201);
  display:none;
}
.aside ul span{
  position:absolute;
  right:20px;
  font-size: 1.5em;
  background:#B9E4C9;
  
}

.aside ul .drop{
  position:relative;

}
.aside ul .drop:hover ul{
  display:initial;


}
.aside ul .drop_sub ul{
position:absolute;
left:-400px;
display:none;
}
.aside ul .drop_sub:hover ul{
  display:initial;
  left:200px;
}

.article1 {
  grid-area: article1;
  height:100%;
  padding:30px 0 0 0;
  margin:0;
  width:100%;
  align-items: center;
  overflow:hidden;
  box-sizing:border-box;
}
.article1 h2{
  text-align: left;
  padding-left: 100px;
}

#container
{
    float: left;
    width: 100%;
    height: 350px;
    padding: 10px;
    overflow-x: hidden;
    align-items: center;

}

#container > ul
{
    width: 1000px;
    height: 300px;
    white-space: nowrap;
    animation: slide infinite 5s alternate;
}

#container:hover > ul
{
    animation-play-state: paused;
}

#container > ul > li
{
    display: inline-block;
    width: 450px;
    height: 100px;
    margin-right: 10px;

}

@keyframes slide {
  0% {
    margin-left: -1200px;
  }
  25% {
    margin-left: -900px;
  }
  50% {
    margin-left: -600px;
  }
  
  75% {
    margin-left: -300px;
  }
  100% {
    margin-left: 000px;
  }
}
.slide-review img{
  width:220px;
  border-radius: 10px;
}
.slidebox .slideitem{
  position:relative;
  display:inline-block;
  vertical-align: middle;

  height:100%;
  transition:all .3s;
}
.slideitem .slide-review{
  height:240px; width:450px; 
  align-self: center; 
  border-radius: 20px;
  background-color: white;
  padding:10px;
  box-shadow: 5px 5px 10px#eaecd7;
  
}
.star{
  color:#fd5523;
}
.slideitem .review-txt{
  padding-top:50px;
  background-color: transparent;
  font-size: 20px;
}

.slideitem div a{float:left;}


/*---------메인 2행-----------*/

.article2 {
  grid-area: article2;
  height:100%;

}
.box{
  display:inline-block;
  height:230px;width:200px;
  margin:5px 10px;

}
.article2 h2{
  text-align: left;
  padding-left: 100px;
}
.box img{
  border-radius: 20px;
  margin:10px;
  box-shadow: 3px 3px 3px #eaecd7;
}
.box a{
  line-height: 20px;
}
#cu{
  border-radius: 10px;
  background-color: purple;
  color:white;
  padding: 3px;
  font-size: 12px;
}

#gs{
  border-radius: 10px;
  background-color: rgb(33, 119, 189);
  color:white;
  padding: 3px;
  font-size: 12px;
}
#vegan{
  border-radius: 10px;
  background-color: rgb(33, 189, 77);
  color:white;
  padding: 3px;
  font-size: 12px;
}

#none{
  border-radius: 10px;
  background-color: transparent;
  color:white;
  padding: 3px;
  font-size: 12px;
}

.prodlist1{
  width:1250px;
  overflow:hidden;
  white-space: nowrap;
}

/*----------메인 3행---------*/
.article3 {
  grid-area: article3;
  height:100%;

}

.prodlist2{
  width:1250px;
  overflow:hidden;
  white-space: nowrap;
}

.article3 h2{
  text-align: left;
  padding-left: 100px;
}

#username{
  color:#fd5523;
 
}
#keyword{
  text-decoration: underline;
  background:gainsboro;
  border-radius: 20px;
}




.footer{
  display:flex;
  width:100%;
  height:200px;
  padding-left: 70px;
  border-top:rgb(53, 104, 89);
  align-items: center;
  justify-content: center;

}
.info{
  width:500px;
  margin-top: 30px;
 
}
.info ul{
  margin-top:20px;
}
.info li{
  margin-top: 5px;
}
.footer_logo{float:left; }
